@import '/src/styles/colors.scss';


.login-page-body{

    padding-inline: 50px;

    .login-title {
        font-size: 2em;
        margin-bottom: 20px;
        color: $primary;
    }
      
    .login-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
      
}

