@import '/src/styles/colors.scss';
@import '/src/styles/buttons.scss';

.login-title {
    font-size: 2em;
    margin-bottom: 20px;
    color: $primary;
}
  
.login-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
  
.input-label {
    font-size: 1.2em;
    color: $gray;
}

  