
// main color palette
$primary: #0DAB76;
$primary-low: #d0f5d4;
$primary-high: #00734D;

$secondary: #168BAB;
$secondary-low: #a2caec;
$secondary-high: #00445E;


// common
$gray: #969696;
$gray-low: #F2F2F2;
$gray-high: #333333;

$danger: #CC2909;
$warning: #ffc954;
$success: #35DF77;