# Ignore .vs folder at the root level
.vs/

# Ignore bin and obj folders in all direct subfolders with the GYM prefix
GYM_*/bin/
GYM_*/obj/

# Ignore specific app settings in the GYM_API folder
GYM_API/appsettings.json
GYM_API/appsettings.Development.json
