@import '/src/styles/colors.scss';


.register-page-body{

    padding-inline: 50px;

    .register-title {
        font-size: 2em;
        margin-bottom: 20px;
        color: $primary;
    }

    .register-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

}
