<h2>Register</h2>

<div>
    Username
    <generic-input 
        [type]="'text'" 
        [placeholder]="'Username'" 
        [validationType]="usernameValidationType"
        [value]="credentials.user.value"
        (valueChange)="handleValueChange($event, 'user')">
    </generic-input>
    
    Password
    <generic-input
        [type]="'password'" 
        [placeholder]="'Password'" 
        [validationType]="passwordValidationType"
        [value]="credentials.pass.value"
        (valueChange)="handleValueChange($event, 'pass')"> 
    </generic-input>

  <button (click)="onSubmit()">Register</button>
</div>
